table {
  tbody {
    th,
    td {
      padding: 10px;
    }

    th {
      background-color: #606060;
      color: #4f93d7;
    }

    td {
      color: #fff;
      background-color: #5b5b5b;
    }
  }
}
